---
tempo:
  tempo:
    storage:
      trace:
        backend: local
    
  persistence:
    enabled: true
    storageClassName: ceph-block
    size: 50Gi
  
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
