# values.yaml - Harbor Production Configuration with SealedSecret
expose:
  type: ingress
  tls:
    enabled: true
    certSource: secret
    secret:
      secretName: "harbor-tls"
      notarySecretName: "harbor-tls"
  ingress:
    hosts:
      core: harbor.pnats.cloud
    controller: ingress-nginx
    className: "nginx"
    annotations:
      # Cert-Manager for TLS certificates
      cert-manager.io/cluster-issuer: "letsencrypt-production"
      # ExternalDNS for DNS management - will create records for harbor.pnats.cloud and registry.pnats.cloud
      external-dns.alpha.kubernetes.io/hostname: "harbor.pnats.cloud,registry.pnats.cloud"
    extraHosts:
    - name: registry.pnats.cloud
      tls: true

externalURL: https://harbor.pnats.cloud

persistence:
  enabled: true
  resourcePolicy: "keep"
  persistentVolumeClaim:
    jobservice:
      jobLog:
        storageClass: "ceph-block"
        accessMode: ReadWriteOnce
        size: 1Gi
    database:
      storageClass: "ceph-block"
      accessMode: ReadWriteOnce
      size: 1Gi
    redis:
      storageClass: "ceph-block"
      accessMode: ReadWriteOnce
      size: 1Gi
    trivy:
      storageClass: "ceph-block"
      accessMode: ReadWriteOnce
      size: 5Gi
  imageChartStorage:
    type: s3
    disableredirect: false
    s3:
      region: ap-south-2
      bucket: harbor
      regionendpoint: https://s3.pnats.cloud
      encrypt: false
      secure: true
      # Reference to SealedSecret for S3 credentials
      existingSecret: "harbor-s3-credentials"
      existingSecretAccessKey: "accesskey"
      existingSecretSecretKey: "secretkey"
      v4auth: true
      forcepathstyle: true

# Admin password from SealedSecret
existingSecretAdminPassword: "harbor-core-secrets"
existingSecretAdminPasswordKey: "admin-password"

# Disable IPv6
ipFamily:
  ipv6:
    enabled: false
  ipv4:
    enabled: true

# Security configuration
internalTLS:
  enabled: false

# General settings
imagePullPolicy: IfNotPresent
updateStrategy:
  type: RollingUpdate

# Encryption key from SealedSecret
existingSecretSecretKey: "harbor-core-secrets"
existingSecretSecretKeyKey: "secretKey"

# Component configurations
portal:
  image:
    repository: docker.io/goharbor/harbor-portal
    tag: v2.14.0
  replicas: 2

core:
  image:
    repository: docker.io/goharbor/harbor-core
    tag: v2.14.0
  replicas: 2
  # Registry password from SealedSecret
  existingSecret: "harbor-core-secrets"
  existingSecretKey: "secret"

jobservice:
  image:
    repository: docker.io/goharbor/harbor-jobservice
    tag: v2.14.0
  replicas: 1
  # Jobservice secret from SealedSecret
  existingSecret: "harbor-core-secrets"
  existingSecretKey: "jobservice-secret"

registry:
  registry:
    image:
      repository: docker.io/goharbor/registry-photon
      tag: v2.14.0
  controller:
    image:
      repository: docker.io/goharbor/harbor-registryctl
      tag: v2.14.0
  replicas: 1
  # Registry HTTP secret from SealedSecret
  existingSecret: "harbor-core-secrets"
  existingSecretKey: "registry-http-secret"
  credentials:
    username: "admin"
    # Registry password from SealedSecret
    existingSecret: "harbor-core-secrets"
    existingSecretPasswordKey: "REGISTRY_PASSWD"

database:
  type: internal
  internal:
    image:
      repository: docker.io/goharbor/harbor-db
      tag: v2.14.0
    # Database password from SealedSecret
    existingSecret: "harbor-core-secrets"
    existingSecretPasswordKey: "database-password"
