---
grafana:
  adminPassword: changeme
  
  persistence:
    enabled: true
    storageClassName: ceph-block
    size: 10Gi
  
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production
      external-dns.alpha.kubernetes.io/ttl: "60"
    hosts:
      - grafana.pnats.cloud
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.pnats.cloud
  
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          url: http://pn-prometheus-kube-prometheus-prometheus.monitoring:9090
          access: proxy
          isDefault: true
        - name: Loki
          type: loki
          url: http://loki.monitoring.svc.cluster.local:3100
          access: proxy
        - name: Tempo
          type: tempo
          url: http://tempo.monitoring.svc.cluster.local:3100
          access: proxy
