---
apiVersion: kubevirt.io/v1
kind: KubeVirt
metadata:
  name: kubevirt
  namespace: kubevirt
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  certificateRotateStrategy: {}
  configuration:
    developerConfiguration:
      featureGates: []
  monitorNamespace: monitoring
  customizeComponents: {}
  imagePullPolicy: IfNotPresent
  workloadUpdateStrategy: {}
  # for demo purposes only
  infra:
    nodePlacement:
      nodeSelector:
        kubernetes.io/os: linux
  workloads:
    nodePlacement:
      nodeSelector:
        kubernetes.io/os: linux