---
cost-analyzer:
  global:
    prometheus:
      enabled: false
      fqdn: http://pn-prometheus-kube-prometheus-prometheus.monitoring:9090

  prometheus:
    server:
      enabled: false
    nodeExporter:
      enabled: false
    kubeStateMetrics:
      enabled: false

  kubecostProductConfigs:
    clusterName: "pn-infrastructure"
    currencyCode: "USD"

  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production
      external-dns.alpha.kubernetes.io/ttl: "60"
    hosts:
      - host: kubecost.pnats.cloud
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: kubecost-tls
        hosts:
          - kubecost.pnats.cloud

  persistentVolume:
    enabled: true
    storageClass: ceph-block
    size: 50Gi

  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 2Gi

  grafana:
    enabled: false
    sidecar:
      dashboards:
        enabled: true
