---
loki:
  deploymentMode: SimpleScalable
  
  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    storage:
      type: 'filesystem'
    
  backend:
    replicas: 1
    persistence:
      enabled: true
      storageClass: ceph-block
      size: 50Gi
  
  write:
    replicas: 1
    persistence:
      enabled: true
      storageClass: ceph-block
      size: 50Gi
  
  read:
    replicas: 1
    persistence:
      enabled: true
      storageClass: ceph-block
      size: 10Gi
