---
loki:
  deploymentMode: SingleBinary

  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    storage:
      type: 'filesystem'

  singleBinary:
    replicas: 1
    persistence:
      enabled: true
      storageClass: ceph-block
      size: 50Gi
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi

  backend:
    replicas: 0
  read:
    replicas: 0
  write:
    replicas: 0
