---
- name: restart ssh
  systemd:
      name: ssh
      state: restarted

- name: reload ufw
  ufw:
      state: reloaded

- name: restart fail2ban
  systemd:
      name: fail2ban
      state: restarted

- name: restart auditd
  systemd:
      name: auditd
      state: restarted

- name: apply netplan
  command: netplan try --timeout=30
  async: 45
  poll: 5

- name: reload sysctl
  command: sysctl -p /etc/sysctl.d/99-custom.conf
